h3{
    font-family: sans-serif;
    color: rgb(22, 132, 223);
    text-shadow: 2px 2px 3px blueviolet;
    font-size: 1.3rem;
    
}

body{
    background-color: rgb(102, 102, 81);
    margin-left: 10%;
}

